@using Microsoft.Extensions.Options
@model IntegratedSystems.Domain.DTO.ShoppingCartDTO;

@{
    ViewData["Title"] = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        .custom-container {
            background-color: #2e323c;
            padding: 60px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            max-width: 800px;
            margin: 0 auto;
        }

        .custom-table {
            background-color: #3a3f4b;
            border-radius: 8px;
            overflow: hidden;
            color: #ffffff;
            margin-top: 20px;
        }

            .custom-table th {
                background-color: #F6A000;
                color: #000;
                font-weight: bold;
                text-align: center;
                padding: 10px;
            }

            .custom-table td {
                padding: 10px;
                text-align: center;
            }

        .table .thead-dark th {
            background-color: #F6A000;
            color: #000;
        }

        .btn-custom {
            background-color: #F6A000;
            border: none;
            color: white;
            padding: 12px 24px;
            font-size: 18px;
            border-radius: 8px;
            margin-right: 10px;
            margin-top: 20px;
        }

            .btn-custom:hover {
                background-color: #C48000;
            }

        .text-center-custom {
            text-align: center;
            color: white;
        }

        .button-container {
            text-align: right;
        }
    </style>
</head>

<div class="container mt-5">
    <div class="custom-container">
        <h1 class="text-center-custom">Shopping Cart</h1>

        <table class="table custom-table">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Expansion Id</th>
                    <th>Quantity</th>
                    <th>Single Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.AllCards.Count() == 0)
                {
                    <tr>
                        <td colspan="5" class="text-center-custom"><b><i>No active products</i></b></td>
                    </tr>
                }
                else
                {
                    @for (int i = 0; i < Model.AllCards.Count(); i++)
                    {
                        var item = Model.AllCards[i];
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@Html.DisplayFor(modelItem => item.Card.CardName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                            <td>@Html.DisplayFor(modelItem => item.Card.Price)</td>
                            <td>
                                <a class="btn btn-danger" asp-action="DeleteProductFromShoppingCart" asp-route-productId="@item.Card.Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                @if (Model.AllCards.Count() != 0)
                {
                    <tr>
                        <th>Total Cart Price:</th>
                        <th></th>
                        <th></th>
                        <th>Ден:@Model.TotalPrice</th>
                        <th></th>
                    </tr>
                }
            </tfoot>
        </table>

        @if (Model.TotalPrice > 0)
        {
            <div class="button-container">
                <form asp-controller="ShoppingCarts" asp-action="Order" method="post">
                    <button type="submit" class="btn-custom">Pay Order</button>
                </form>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}